In [1]:
#TenTimes repeat "Hello Python"
for i in range(10):
    print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [2]:
#print number from 1-10
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [1]:
sum=0
for x in range(1,11):
    sum+=x
print("sum is",sum)

sum is 55

In [2]:
N=int(input())
for x in range(1,N+1):
    print(x)

6
1
2
3
4
5
6

In [6]:
N=int(input())
sum=0
for x in range (1,N+1):
    sum+=x
print(sum)

10
55

In [9]:
N=int(input())
for i in range(1,11):
    print(N,"x",i,"=",N*i)

12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [21]:
N=int(input())
def factorial(N):
    if N==1 or N==0:
        return N
    else:
        return N* factorial(N-1)
print(factorial(N))

4
24

In [32]:
for i in range (1,101):
    if i%2==0:
       print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [37]:
for i in range(1,101):
    if i%2 != 0:
       print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99